# track videos
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text

# track raster images
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text

# track gifs
*.gif filter=lfs diff=lfs merge=lfs -text

# track vector graphics
*.svg filter=lfs diff=lfs merge=lfs -text